<footer>
  <small>
  <ul class="company">
    <li>© zhongzw</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About</a></li>

      <li><a href="mailto:310874254@qq.com">Contact</a></li>
    </ul>
  </small>
</footer>
